/* .conteine-principal{
    background-image: url('./papel_amarelo.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
/* }

.div-central{
background-color: blue;
width: 20px;
height: 60%;


} */ 